@import "tailwindcss";
@import url("../lib/assests/animations.css");

:root {
  --text-color: #f4f4f4;
  --background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 1) 0%,
    rgba(32, 32, 32, 1) 50%,
    rgba(48, 48, 48, 1) 100%
  );
  --background-print: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}
* {
  box-sizing: border-box;
}
body {
  color-scheme: light dark;
  /* color: var(--text-color);
  background: rgb(16, 16, 16);
  background: var(--background); */
  min-height: 100dvh;
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  position: relative;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
input:hover + label,
input:focus + label {
  transform: scale(1.02);
}
.list::after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  background-color: #616161;
  height: 6px;
  width: 6px;
  border-radius: 10px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
  background-color: rgb(89, 135, 188);
}
.shadow-vintage {
  box-shadow: 6px 6px 0px currentColor;
}
.shadow-debord {
  box-shadow: 0px 0px 10px 1px #33333320;
}

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  background: #0a0a0a;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 10px;
}
@supports not selector(::-webkit-scrollbar) {
  div {
    scrollbar-color: #575757 #0a0a0a;
  }
}
@media (prefers-color-scheme: dark) {
  .file-input label {
    color: white;
    border: 2px solid white;
  }
  .list::after {
    background-color: #f4f4f4;
  }
}
@media (min-width: 768px) {
  .file-input label {
    max-width: fit-content;
  }
}
@media print {
  body {
    background: var(--background-print);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
